* {
    margin: 0;
    padding: 0;
}


.foto-banner {
    width: 100%;
    height: 90vh;
}

.secao-tecnologia {
    background-color: rgb(16, 52, 64);
    padding: 20px 5%;
}

.secao-tecnologia h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}

.container-geral {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-geral .img-sistema {
    width: 50%;
    height: 300px;
}

.texto-geral {
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    gap: 20px;
}

.texto-geral h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}


.secao-solucao {
    background-color: #F7F8FA;
    padding:  5%;
    background-image: url(/assets/img/img_section2_home.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

.solucao {
    width: 50%;
    color: black;
}

.secao-solucao h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: #103440;
}


.secao-porque {
    background-color: #8C2A44;
    padding: 40px 5%;
    background-image: url(../assets/img/img_section_museu.png);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}

.secao-porque h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

.texto-porque {
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 0.8em;
}

.secao-diagrama {
    padding: 20px 5%;
    margin: 30px 0;
}

.secao-diagrama h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: #103440;
}

.diagrama {
    justify-content: center;
}

.img-diagrama {
    align-items: center;
    width: 80%;
}

.secao-interesse {
    padding: 75px 5%;
    margin: 30px 0;
    background-image: url(../assets/img/section_negocio.png);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}

.interesse {
    justify-content: center;
}

.texto-interesse {
    text-align: center;
    font-weight: bold;
}

.texto-interesse h2 {
    margin-bottom: 15px;
    font-weight: bolder;
}

.container-interesse {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.container-interesse button {
    color: white;
    width: 265px;
    height: 41px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin: 3px;
    background-color: #8c2a44;
    border-radius: 4px;
    border: none;
}

