*{
margin:0;
}
main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}
main .sidbar{
    width: 13%;
    height: 100vh;
    background-color: #103440;
}
main .sidbar>div{
    height: 72%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
main .sidbar>div>.img{}
main .sidbar>div>.img>img{}
main .sidbar>div>.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64%;
    /* align-items: center; */
    height: 53%;
}
main .sidbar>div>.nav>div{}
main .sidbar>div>.nav>div>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: white;
}
main .sidbar>div>.nav>div>a>img{
    padding-right: 14px;
}
main .iframe{
    width: 87%;
    height: 100%;
}
main .iframe>iframe{
    width: 99.7%;
    height: 99%;
    border: none;
}