* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';

}


.banner-sobre {
  width: 100%;
  height: 90vh;
}

.secao-nossaMissao {
  background-color: #103440;
  align-items: center;
  padding: 0 5%;
  margin: 30px 0;
}


.alinhamento-nossaMissao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.imagem-nossaMissao {
  width: 40%;
  height: 100%;
}

.texto-nossaMissao {
  width: 40%;
  color: white;
  font-size: 18px;
}

.container-oqfazemos {
  padding: 0 5%;
  margin: 30px 0;
}

.container-oqfazemos img {
  width: 35%;
  height: 350px;
}

.texto-oqFazemos {
  width: 40%;
  font-size: 19px;
}

.texto-oqFazemos h2 {
  margin-bottom: 15px;
}

.linha-oqFazemos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-porque {
  align-items: center;
  padding: 0 5%;
  margin: 30px 0;
}

.linha-card {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-texto {
  background-color: #8c2a44;
  color: white;
  text-align: center;
  height: 160px;
  padding: 7px;
  font-size: 13px;
}

.card-texto p,
h3 {
  margin: 10px 0px;
}

.card {
  height: 500px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card img {
  height: 200px;
  width: auto;
}

.container-nossaVisao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foto5-PG-sobre {
  width: 40%;
}

.background-nossaVisao {
  background-color: #103440;
  align-items: center;
  padding: 0 5%;
  margin: 30px 0;
}

.texto-nossavisao {
  width: 40%;
}

.texto-nossavisao p {
  margin-bottom: 15px;
  font-size: 18px;
}

.texto-nossavisao h2 {
  margin-bottom: 15px;
}

.botao-registrar {
  margin-top: 60px;
  display: inline-flex;
  padding: 20px 48px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 1000px;
  border: 6px solid #103440;
  background: #ffffff;
  box-shadow: 4px 8px 0px 0px #40131F;
  cursor: pointer;
}

.background-final {
  background-color: #103440;
  align-items: center;
  padding: 5% 5%;
  margin: 30px 0;
}

.texto-registrar {
  color: #FFF;
  font-size: 30px;
  font-weight: 900;
  
}

.container-registrar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foto-redonda {
  width: 250px;
  height: 250px;
}